/* You can add global styles to this file, and also import other style files */

.main-header{
	max-width: 800px;
	margin: 0 auto;
}

.bg-color{
	background: #27273a;
	margin: 0px !important;
	padding: 60px 0px 30px 65px;
}

div span.main-head{
	color: #fff;
	font-size: 45px;
	font-family: verdana;
}

.tb-align{
	padding-left: 4px;
}
