<div class="container top-space">
	<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg btn-width" [ngClass]="{'cycling-btn': isNewCycling === true }" (click)="backCyclings()">Cycling <i class="fas fa-bicycle glyph-cycle"></i></button></div>
	<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg btn-width" (click)="getWeightLiftingData()">Weightlifting<img src="../assets/images/dumbbell.png" class="glyph-cycle dumbble-img"></button></div>
</div>

<div class="container" *ngIf="isNewCycling">
	<div class="row">
		<h3 class="col-sm-offset-2 col-sm-10 new-medal-heading">New Medal for Cycling</h3>
	</div>
	<form name="form" (ngSubmit)="f.form.valid && newCyclingMedal()" #f="ngForm" novalidate>
        <div class="form-group row form-align" [ngClass]="{ 'has-error': f.submitted && !division.valid }">
            <label for="division" class="col-sm-offset-2 col-sm-1 col-form-label">Division:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="division" [(ngModel)]="model.division" #division="ngModel" required />
              <div *ngIf="f.submitted && !division.valid" class="help-block">Division is required</div>
            </div>
        </div>

        <div class="form-group row form-align" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
            <label for="country" class="col-sm-offset-2 col-sm-1 col-form-label">Country:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="country" [(ngModel)]="model.country" #country="ngModel" required />
              <div *ngIf="f.submitted && !country.valid" class="help-block">Country is required</div>
            </div>
        </div>
        <div class="form-group row form-align">
	        <label for="year" class="col-sm-offset-2 col-sm-1 col-form-label">Year:</label>
		    <div class="col-sm-1">
			    <select class="form-control selected-year" name="year" [(ngModel)]="model.year" #year="ngModel" required id="year">
			        <option *ngFor="let year of years">{{year.year}}</option>
			    </select>
		    </div>
		</div>    
        <div class="form-group">
            <button class="col-sm-offset-2 col-sm-1 btn btn-default btn-md new-medal">Submit</button>
            <button type="button" class="btn btn-default btn-md" (click)="backCyclings()">Back</button>
        </div>
    </form>    
</div>